<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="styles/header.css" type="text/css">
    <link rel="stylesheet" href="styles/404.css" type="text/css">
    <link rel="icon" href="/assets/images/galaxy.png">
    <title>Woops I lost you!</title>
</head>

<body>
    <header>
        <a class="logo" href="/"><img src="./assets/images/Galaxy.png" alt="logo"></a>
        <nav>
            <ul class="nav__links">
                <li> <a href="/github">GitHub</a></li>
                <li><a href="/privacy">Terms</a></li>
                <li><a href="/discord">Support</a></li>
            </ul>
        </nav>
        <a class="cta" href="/login">Login</a>
        <p class="menu cta">Menu</p>
    </header>

    <main>
        <h1>404</h1>
        <h3>
            <br>
            Hold on! Where are we? What day is it? I think we got lost.
            <br>
        </h3>
        <a href="/"><button>Return to the home page</button></a>
    </main>
</body>

</html>