<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/playAudio.js"></script>
    <link rel="icon" href="/assets/images/galaxy.png">
    <link rel="stylesheet" href="/styles/header.css" type="text/css">
    <link rel="stylesheet" href="/styles/footer.css" type="text/css">
    <link rel="stylesheet" href="/styles/main.css" type="text/css">
    <title>GalaxyHosting | Home</title>

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="GalaxyHosting">
    <meta content="https://hosting.galaxynetwork.studio" property="og:url" />
    <meta content="#5865F2" data-react-helmet="true" name="theme-color" />
    <meta content="/assets/images/Galaxy.png" property="og:image" />

</head>

<body>
    <header>
        <a class="logo" href="/"><img src="/assets/images/Galaxy.png" alt="logo"></a>
        <nav>
            <ul class="nav__links">
                <li> <a href="/github">GitHub</a></li>
                <li><a href="/privacy">Terms</a></li>
                <li><a href="/discord">Support</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
        <a class="cta" href="/dashboard">Dashboard</a>
        <p class="menu cta">Menu</p>
    </header>
    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="/privacy">Terms of Use</a>
        </div>
    </div>
    <main>
        <span class="wave">👋</span>
        <h1 class="title">GalaxyHosting</h1>
        <h3>Welcome to GalaxyHosting, the best hosting for the Helios Launcher!</h3>
        <!-- <a href="/add"><button><img class="button__image" src="../assets/buttons/AddMember.png">Add</button></a> -->
        <a href="/discord"><button class="discord__button"><img class="button__image"
                    src="../assets/buttons/WhiteLogo.svg">Support</button></a>


    </main>
    <div class="features">
        <h1 class="title">Q&A</h1>
        <p class="description">Here are some questions and answers about our hosting.</p>
        <div class="card-row">

            <div class="card">
                <h3 class="feature__title">Is it fast?</h3>
                <br>
                <p>At GalaxyHosting, we proudly offer lightning-fast webserver hosting services exclusively catered to meet the unique requirements of your Helios Launcher.</p>
            </div>
            <div class="card">
                <h3 class="feature__title">How does it work?</h3>
                <br>
                <p>It's simple, you register with your Discord account, and in our server you use the bot to get your detais for the ftp server.</p>
            </div>

            <div class="card">
                <h3 class="feature__title">Is it free?</h3>
                <br>
                <p>We offer a free plan thats limited to 150mb of storage, but you can buy premium to get more storage and other benefits.</p>
            </div>

            <div class="card">
                <h3 class="feature__title">Is it a CDN?</h3>
                <br>
                <p>At the moment we don't have a CDN, but we are working on it.</p>
            </div>

            <div class="card">
                <h3 class="feature__title">Is this associated with Aventium Softworks?</h3>
                <br>
                <p>No, we are not associated with Aventium Softworks, we are just a hosting for the Helios Launcher.</p>
            </div>
        </div>
    </div>

</body>

</html>