<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/autoPlay.js"></script>
    <link rel="icon" href="/assets/images/galaxy.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css">
    <link rel="stylesheet" href="/styles/footer.css" type="text/css">
    <link rel="stylesheet" href="/styles/main.css" type="text/css">
    <title>GalaxyHosting | Home</title>

    <meta property="og:type" content="website">
    <meta property="og:site_name" content="GalaxyHosting">
    <meta content="https://hosting.galaxynetwork.studio" property="og:url" />
    <meta content="#5865F2" data-react-helmet="true" name="theme-color" />
    <meta content="/assets/images/Galaxy.png" property="og:image" />

</head>

<body>
    <header>
        <a class="logo" href="/"><img src="/assets/images/Galaxy.png" alt="logo"></a>
        <nav>
            <ul class="nav__links">
                <li> <a href="/github">GitHub</a></li>
                <li><a href="/privacy">Terms</a></li>
                <li><a href="/discord">Support</a></li>
            </ul>
        </nav>
        <style>
            .sla {
                margin-left: 20px;
                padding: 9px 25px;
                border: none;
                border-radius: 3px;
                cursor: pointer;
                transition: all 0.3s ease 0s;
                color: #fff;
                font-family: "Montserrat", sans-serif;
            }
        </style>
        <a class="sla" href="/login">Login</a>
        <p class="menu cta">Menu</p>
    </header>
    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="/privacy">Terms of Use</a>
        </div>
    </div>
    <main>
        <h1>An Error Occurred!</h1>
        <h3>Something went terribly wrong, I apologize for the inconvenience!</h3>


    </main>

</body>

</html>